pyrogram
tgcrypto
yt-dlp>=2024.05.27
Pillow>=10.0.0
requests>=2.31.0
python-dotenv>=1.0.0
ffmpeg-python>=0.2.0
imageio-ffmpeg>=0.4.9
g4f
curl_cffi
ddgs
PyMuPDF
python-docx
pandas
openpyxl
python-pptx
SpeechRecognition
pydub
pytubefix
gTTS
aiohttp>=3.9.0
faster-whisper
ctranslate2
transformers
huggingface-hub
edge-tts
demucs
torch
torchaudio
sphn
librosa
